.list-results {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.list-results-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  flex-direction: column;
}

.list-results-title h2 {
  color: var(--primaryColor);
}

.list-div {
  margin-bottom: 50px;
}

.no-results {
  color: grey;
  margin-top: 30px;
}

@media screen and (min-width: 1000px) {
  .list-div {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
}