.carousel {
  width: 95%;
  border-radius: 10px;
}

.imgslider {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryColor);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.sliderimg {
  height: auto;

}

@media screen and (max-width: 600px) {
  .imgslider {
    height: auto;
  }

  .carousel {
    width: 85% !important;
    border-radius: 0;
  }
}