.novedades-section {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  background-color: rgb(249, 249, 249);
  align-items: center;
  justify-content: center;
}

.novedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-wrap: wrap;
  background-color: rgb(249, 249, 249);
}

@media (max-width: 600px) {
  .novedades {
    padding-left: 0;
  }
}

.novedades-title h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--primaryColor);
  font-size: 1.5rem;
}

.novedades-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.btn-see-all {
  background-color: var(--primaryColor);
  padding: 15px 25px;
  color: white;
  border: none;
  outline: none;
  margin-bottom: 40px;
  border-radius: 10px;
  margin-top: 80px;
}

.btn-see-all:active {
  background-color: white;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

@media screen and (min-width: 768px) {
  .novedades-section {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    background-color: rgb(249, 249, 249);
    margin-left: 0;
  }

  .novedades {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 0;
    background-color: rgb(249, 249, 249);
  }

  .novedades-title {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .btn-see-all {
    background-color: var(--primaryColor);
    padding: 15px 25px;
    color: white;
    border: none;
    outline: none;
    margin-bottom: 80px;
    border-radius: 10px;
    transition: all 300ms ease;
    cursor: pointer;
  }

  .btn-see-all:hover {
    background-color: #c070a1;
    color: white;
  }

  .btn-see-all:active {
    background-color: white;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
  }
}
