@import "../../styles/global-colors.css";

.card-container {
  background-color: #fff;
  height: 500px;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  width: 90%;
  margin-top: 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  flex-wrap: wrap;
}

.img-property-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-propiedad {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

.property-description {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding-right: 5px;
  padding-left: 10px;
}

.property-description a {
  color: rgb(0, 132, 255);
}

.comodidades {
  color: var(--primaryColor);
}

.property-description p {
  color: lightslategray;
}

.comodidades {
  display: flex;
}

.comodidades span {
  margin-right: 10px;
}

.margin-top {
  margin-top: 10px;
}

.btn {
  color: var(--primaryColor);
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
}

.btn-ver-mas {
  display: none;
}

.btn-card-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .card-container {
    width: 400px;
    margin-bottom: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
  }
  .property-description {
    margin-left: 10px;
    margin-right: 10px;
  }

  .btn-card-container {
    width: 100%;
    justify-content: space-evenly;
  }

  .btn-ver-mas {
    display: block;
  }
}
