.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
