.contact-form-section {
  background-color: rgb(249, 249, 249);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.contact-form-section h2 {
  color: var(--primaryColor);
  margin-top: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  width: 90%;
}

.contact-input {
  margin-bottom: 25px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 80%;
}

.contact-textarea {
  height: 80px;
  resize: none;
}

.btn-contact {
  text-decoration: none;
  font-size: 14px;
  padding: 0.9em 2em;
  margin-top: 20px;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .contact-form-section {
    width: 600px;
  }
}
