nav {
  padding: 0.4rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav img {
  height: 50px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}
.links {
  position: absolute;
  top: -700px;
  left: -2000px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: all 0.5s ease;
}
.links a {
  margin-bottom: 50px;
  color: #a94c85;
  font-size: 2rem;
  display: block;
}

@media (min-width: 768px) {
  .links {
    position: initial;
    margin: 0;
    display: block;
    margin-right: 50px;
  }
  .links a {
    font-size: 1.2rem;
    color: #a94c85;
    display: inline;
    margin-right: 70px;
  }
}

.links.active {
  width: 100%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
}
.links.active a {
  font-size: 2rem;
  margin-top: 1rem;
  color: white;
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }
  section {
    display: none;
  }
}

section {
  background-color: #a94c85;
  position: absolute;
  top: 50px;
  left: -1000px;
  width: 100%;
  height: 100%;
  z-index: 20;
  transition: all 0.6s ease;
}

section.active {
  border-radius: 0 0 80% 0;
  top: 80px;
  left: 0;
  width: 100%;
  height: 91%;
}
