@import "../../styles/global-colors.css";

.search-section {
  background-image: url(https://media.istockphoto.com/photos/pink-sunset-picture-id1139149089?k=20&m=1139149089&s=170667a&w=0&h=cC0yIVOH4i0Q4m1UNmtfGPzHIIRNAzK6f5qo43Z31UI=);
  background-size: cover;
  background-blend-mode: darken;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.filters-container {
  background-color: rgb(249, 249, 249);
  height: auto;
  width: 90vw;
  flex-direction: column;
  display: flex;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-search {
  width: 45vw;
  background-color: rgb(236, 236, 236);
  border: none;
  padding: 15px 25px;
  color: var(--primaryColor);
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease;
}

.selected-venta {
  width: 45vw;
  background-color: rgb(249, 249, 249);
  border: none;
  padding: 15px 25px;
  color: var(--primaryColor);
  font-size: 1em;
  font-weight: 500;
  border-radius: 10px 0 0 0;
}

.selected-alquiler {
  width: 45vw;
  background-color: rgb(249, 249, 249);
  border: none;
  padding: 15px 25px;
  color: var(--primaryColor);
  font-size: 1em;
  font-weight: 500;
  border-radius: 0 10px 0 0;
}

.btn-search:active {
  background-color: var(--primaryColor);
  color: white;
}

.btn-venta {
  border-radius: 10px 0 0 0;
}

.btn-alquiler {
  border-radius: 0 10px 0 0;
}

.select-property-type {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* En .buscador deberia haber un display:grid para organizar los selects */

.buscador {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 90%;
}

.btn-buscar-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.btn-buscar {
  padding: 0.9em 2em;
  background-color: var(--primaryColor);
  color: #fff;
  border: none;
  outline: none;
  margin-top: 15px;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 500;
  width: 60%;
}

.btn-buscar:active {
  background-color: #fff;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
}

.price-range {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.price-range header {
  color: var(--primaryColor);
  margin-top: 10px;
  margin-bottom: 10px;
}

.price-range-input-section {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.price-range-input-section input {
  width: 95px;
  padding: 10px 15px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
}

@media screen and (min-width: 1000px) {
  .search-section {
    background-image: url(https://media.istockphoto.com/photos/pink-sunset-picture-id1139149089?k=20&m=1139149089&s=170667a&w=0&h=cC0yIVOH4i0Q4m1UNmtfGPzHIIRNAzK6f5qo43Z31UI=);
    background-size: cover;
    background-blend-mode: darken;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position-y: 20%;
  }

  .price-range {
    margin-top: 20px;
  }

  .price-range-input-section input {
    width: 140px;
    padding: 10px 20px;
    border: none;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
  }

  .price-range-input-section input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .buscador-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    flex-wrap: wrap;
  }

  .btn-container {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  .filters-container {
    background-color: rgb(249, 249, 249);
    height: 500px;
    width: 25vw;
    flex-direction: column;
    display: flex;
    border-radius: 0 10px 10px 10px;
  }

  .btn-search {
    width: 145px;
    background-color: rgb(236, 236, 236);
    border: none;
    padding: 15px 25px;
    color: var(--primaryColor);
    font-size: 1rem;
    font-weight: 500;
    transition: all 300ms ease;
    border-right: inset;
    display: block;
  }

  .selected-venta {
    width: 145px;
    background-color: rgb(249, 249, 249);
    color: var(--primaryColor);
    border: none;
    padding: 15px 25px;

    font-size: 1rem;
    font-weight: 500;
    transition: all 300ms ease;
    border-right: inset;
    display: block;
    border-radius: 10px 10px 0 0;
  }

  .selected-alquiler {
    width: 145px;
    background-color: rgb(249, 249, 249);
    color: var(--primaryColor);
    border: none;
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 300ms ease;
    border-right: inset;
    display: block;
    border-radius: 10px 10px 0 0;
  }

  .btn-search:active {
    background-color: var(--primaryColor);
    color: white;
  }

  .btn-search:hover {
    background-color: rgb(224, 222, 222);
  }

  .btn-venta {
    border-radius: 10px 10px 0 0;
  }

  .btn-alquiler {
    border-radius: 10px 10px 0 0;
  }

  .select-property-type {
    width: 100%;
    padding: 10px 20px;
    border: none;
    outline: none;

    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  /* En .buscador deberia haber un display:grid para organizar los selects */

  .buscador {
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
  }

  .btn-buscar-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .btn-buscar {
    padding: 0.9em 2em;
    background-color: var(--primaryColor);
    color: #fff;
    border: none;
    outline: none;
    margin-top: 25px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 500;
    transition: all 300ms ease;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .btn-buscar:hover {
    background-color: #b66597;
  }
  .btn-buscar:active {
    background-color: #fff;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .btn-container {
    display: flex;
    width: 100%;
  }
  .btn-search {
    width: 50%;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 15px 25px;
    color: var(--primaryColor);
    font-size: 1rem;
    font-weight: 500;
    transition: all 300ms ease;
    border-right: inset;
    display: block;
  }
}
