.add-section {
  height: auto;
  display: flex;
  background-color: var(--primaryColor);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.direc-price {
  margin-top: 10px;
  width: 400px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 30px;
}

.add-section h2 {
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}
.add-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: white;
  width: 600px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.add-title {
  margin-top: 30px;
  width: 400px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.tipo {
  margin-bottom: 30px;
}

.carac-div {
  margin-bottom: 30px;
  height: auto;
}

.add-carac {
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 30px;
}

.add-carac-btn {
  margin-left: 5px;
  width: 200px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  outline: none;
}

.add-textarea {
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-add {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--primaryColor);
  color: white;
  border: none;
  outline: none;
  margin-bottom: 30px;
}

.btn-add-property {
  background-color: white;
  color: var(--primaryColor);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  font-weight: bold;
  cursor: pointer;
}

.btn-add-property:disabled {
  cursor: not-allowed;
}

.btn-add-property:hover {
  background-color: rgb(216, 214, 214);
}
.btn-add-property:active {
  background-color: var(--primaryColor);
  color: white;
  border: 1px solid white;
  outline: 1px solid white;
}

.select-title {
  margin-bottom: 30px;
}

.add-operacion {
  margin-bottom: 30px;
  width: 400px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.caracteristicas-add-inputs {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
