.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 320px;
  background-color: var(--primaryColor);
  color: white;
  margin-bottom: -2px;
}

.footer span {
  margin-bottom: 10px;
}

.footer img {
  height: 55px;
  margin-top: 30px;
}

.footer h2 {
  margin-bottom: 30px;
}

.renato {
  text-decoration: underline;
  color: white;

  margin-top: 20px;
}
